/* These are Kombai generated variables */
:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-turquoise-1100161c: rgba(38, 232, 232, 1);
  --color-skyblue-140a0666: rgba(108, 229, 229, 1);
  --color-991c5d52: transparent;
  --color-darkslategrey-34f84abe: rgba(82, 82, 82, 1);
  --color-black-cb2496b4: rgba(2, 2, 2, 1);
  --color-black: rgba(0, 0, 0, 1);
  --font-size-64: 64px;
  --font-size-58: 58px;
  --font-size-48: 48px;
  --font-size-24: 24px;
  --font-size-30: 30px;
  --font-size-32: 32px;
  --font-size-28: 28px;
  --font-weight-400: 400;
  --border-radius-80: 80px;
  --border-radius-50: 50px;
  --border-radius-100: 100px;
  --border-radius-0: 0px;
}
